.b-core-ui-select {
    position: relative;
    width: 80%;
    padding: 7px;
	height:16px;
    font-size: 12px;
    line-height: 18px;
    color: #333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    cursor: pointer;
    background-image: url(../image/select-bg.png);
	background-repeat: repeat-x;
	background-position: left bottom;
    border: 1px solid #ccc;
    border-color: #dbe6f2;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.b-core-ui-select__select {
    position: static;
    width: 80%;
    padding: 10px;
    font-size: 12px;
    line-height: 18px;
}

.b-core-ui-select__value {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 25px;
	font-family:'Conv_ProximaNova-Reg';
	color:#88a3bc;
	font-size:13px;
}

.b-core-ui-select__select_state_hide {
    height: 1px !important;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 1px !important;
    text-indent: -9999px;
    overflow: hidden;
    opacity: 0;
    z-index: -1;
    filter: alpha(opacity = 0);
}

.b-core-ui-select:HOVER {
	color: #333333;
	background-position: 0 15px;
	transition: background-position 0.1s linear;
}

.b-core-ui-select.focus {
    background-color: #fff;
    border-color: #dbe6f2;
    outline: 0;
}

.b-core-ui-select.open {
    border-radius: 5px 5px 0 0;
	background:none;
	background-color:#FFF;
}

.b-core-ui-select.disabled,
.b-core-ui-select.disabled:ACTIVE{
    opacity: .5;
    color: #333333;
    background-color: #e6e6e6;
    background-position: 0 -15px;
    transition: background-position 0.1s linear;
}

.b-core-ui-select__button {
	position: absolute;
	right: 12px;
	top: 10px;
	display: block;
	width: 11px;
	height: 8px;
	content: "&or;";
	margin-top: 1px;
	margin-left: 2px;
	background-image: url(../image/list.png);
}

.b-core-ui-select__dropdown {
    display: none;
    position: absolute;
    top: 0;
    color: #333;
    margin-top: -32px;
    padding: 0px 3px 0px 0;
    max-height: 200px;
    font-size: 12px;
    border: 1px solid #dbe6f2;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    background-image: none;
    background-repeat: repeat-x;
}

.b-core-ui-select__dropdown.hide {
    display: none;
}

.b-core-ui-select__dropdown.show {
    display: block;
}

.b-core-ui-select__dropdown__wrap {
    max-height: 200px;
    overflow: auto;
	outline: none;
}


.j-scroll-pane .b-core-ui-select__dropdown__item {
    margin-right: 11px;
}

.b-core-ui-select__dropdown__list {
    overflow: hidden;
    margin: 0!important;
	padding:0;
}

.b-core-ui-select__dropdown__item {
    padding: 5px 10px;
    min-height: 18px;
    list-style-type: none;
    cursor: pointer;
	color:#475564;
	font-family:'Conv_ProximaNova-Reg';
	font-size:13px;
	height:14px;
	padding: 10px 10px 11px 18px;
}
.b-core-ui-select__dropdown__item + li,
.b-core-ui-select__dropdown__item.first {
	/*border-bottom:1px solid #ecf3f8;*/
}

.b-core-ui-select__dropdown__label {
    padding: 10px;
    min-height: 18px;
    font-style: italic;
    list-style-type: none;
    border-bottom: 1px solid #ccc;
}

.b-core-ui-select__dropdown__item.disabled,
.b-core-ui-select__dropdown__item.disabled:HOVER {
    color: #fff;
    background: none;
}

.b-core-ui-select__dropdown__item.selected{
    background: #61a30f;
    color: #fff;
}

.b-core-ui-select__dropdown__item.selected:HOVER {
    background: #92cc4b;
    color: #fff;
}

.b-core-ui-select__dropdown__item:HOVER {
    background: #92cc4b;
}
